/* MEDIA 780px */
@media(max-width:780px){
    .grids{
         flex-direction: column;
     }
 
     .btn-mobile{
         width: 32px;
         height: 32px;
         position: absolute;
         left:10px;
         top:20px;
         background: url('../images/icons/menu.svg') no-repeat center center;
         background-size:cover;
         z-index: 1;
     }
 
     .menu{
         background:rgba(27, 32, 97, 1);
         flex-direction: column;
     }
 
     .list-menu{
         width: 100%;
         display: none;
     }
     .list-menu li{display: block;}
     .slide-title{font-size: 1.5em; width: 100%;}
     .slide-desc{font-size: 1em; text-align: center;}
     .slide{top:-153px;}
     .grids-info{
         width: 100%;
         flex-direction: column;
     }
     .instituicao{
         flex-direction: column;
     }
 
     .desc-instituicao{width:100%; text-align:justify; padding:1em; margin:20px;}
     .footer{
         flex-direction: column;
         align-items: center; 
     }
     .list-infos-footer{text-align: center;}
 }
 
 /* MEDIA 840px */
 @media(max-width: 840px){
     .grids-info{
         width: 100%;
         flex-direction: column;
     }
 
     .instituicao{
         flex-direction: column;
     }
 
     .desc-instituicao{width:80%; text-align:justify; padding:1em; margin:20px;}
 
 }